*.xlsx
*.mov
*.mp4
*.mkv
dist/
readme-priv.md
.vscode
__pycache__/
putt_quest_settings.json

# PyInstaller output
/dist/
/build/PuttQuest/
*.manifest
# stray file created by an unquoted ">=" in a batch pip install
/6.0
/=6.0
puttquest-crash.log
